/* Responsiveness */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
    
}

/* md */
@media (max-width: 768px) {
  
}

/* sm */
@media (max-width: 640px) {


    
}

/* xs */
@media (max-width: 475px) {
    header{
        height: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .middle-logo{
        font-display: none;
    }
    .middle-logo.responsive{
        display: flex;
        flex-direction: column-reverse;
    }

    /* #responsive-bars.responsive{
        display: flex;
       position: absolute;
        right: 60px;
        top: 50px;
    } */

}